
.container{
    background-color:  rgb(7, 94, 89);
}

.body{
    display: flex;
   
}

.body1{
    display: flex;
    
}

.body2{
    display: flex;
   
}

.textbody{
    color: rgb(230, 208, 10);
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-left: 3cm;
}

.data{
    color:  rgb(230, 208, 10);
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
